.tooglenode {
	float:right;
	text-align:right;
	width:100px;
}

.togglenode-edit-button {
	text-align: right;
}

.tooglenode-tabs {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topleft:6px;
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #EFEFEF;
	float:left;
	overflow:hidden;
	padding: 0;
	position:absolute;
	text-align:left;
	width:100px;
	z-index: 100000;
}

.tooglenode-tabs ul  {
	margin: 0;
	padding: 0;
}

.tooglenode-tabs ul li {
	background:transparent none repeat scroll 0 0;
	border-bottom:1px solid #EFEFEF;
	margin:0;
	padding: 0;
}

.tooglenode-tabs ul li a {
	color:#666666;
	font-size:11px;
	padding: 2px 10px 2px 10px;
	display: block;
}

.tooglenode-tabs ul li a:hover {
	color:#000;
	text-decoration: none;
	background: #efefef;
}
